<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contact Me</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<meta charset="utf-8"/>

	</head>
	<body>
		<header>
			<div class="rightSide largerAndPadding">
				<a class="noTextDecor" href="index" style="margin-right: 30px;"> Home </a>
				<a class="noTextDecor" href="about"> About </a>
				<a class="noTextDecor contactMargin" href="contact"> Contact </a>
			</div>
		</header>

		<div id="missingFields">
		</div>


    <div class="container">
			<h1>Contact me!</h1>

      <form id = "contactForm" class="greaterMargins" action="/contact" method="POST">

        Name: <br>
        <input type="text" id="name" name="name" placeholder="ex: Gavin"> <br>

			  Subject: <br>

        <input type="text" id="subject" name="subject" placeholder="ex: Greetings"> <br>

				Message: <br>
				<input type="text" id="message" name="message" placeholder="ex: Hello, how are you?"> <br>

        <input type="submit" value="Submit">

      </form>
    </div>

		<footer>
			<div class = "largerAndPadding" style="text-align: center;">
				<a href="index" style="text-decoration: none; color: black;"> Go Back Home </a> <br>
				<a href="about" style="text-decoration: none;"> About </a>
				<a class="contactMargin" href="contact" style="text-decoration: none;"> Contact </a>
			</div>
		</footer>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>
</html>
